.content {
    margin-left: 0px;
    padding: 20px;
    background: url('img_17.png') no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    color: white;
    opacity: 1;
    transition: opacity 0.5s;
    width: 1400px;
    height: 450px;
    margin-top: -5px;
}

.cuadrado1 {
    width: 800px;
    height: 50px;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0%;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 10px;
}
#id_FotoPerfil {

    position: relative;
    left: 50px;
    top: 20px;

    width: 100px;
    height: 751px;
}

#texto1 {
    width: 453px;
    height: 35px;
    position: absolute;
    top: 395px;
    left: 90px;
}

#texto2 {
    width: 453px;
    height: 35px;
    position: absolute;
    top: 263px;
    left: 90px;
}

button {
    width: 325px;
    height: 50px;
    position: absolute;
    top: 613px;
    left: 154px;
    border-color: transparent;
}


.button1 {
    width: 325px;
    height: 50px;
    position: absolute;
    top: 613px;
    left: 154px;
    background-color: transparent;
    border-color: transparent;
}

.button2 {
    width: 325px;
    height: 50px;
    position: absolute;
    top: 480px;
    left: 154px;
    background-color: transparent;
    border-color: transparent;

}

.button3 {
    width: 325px;
    height: 50px;
    position: absolute;
    top: 535px;
    left: 154px;
    background-color: transparent;
    border-color: transparent;

}
