body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 200px;
    height: 100vh;
    color: #ffffff;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #3377d5;
    transition: background-color 0.3s, color 0.3s;
}

#menu-header {
    margin-bottom: 30px;
    font-size: 2em;
    font-family: 'Arial', sans-serif;
    margin-top: 25px;
    text-align: center;
    margin-left: 60px;
}

.menu-link {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    background-color: #3377d5;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 19px;
    opacity: 1;
}

.menu-link:hover,
.menu-link:active {
    background-color: #BC3FF6;
    color: #25dccd;
    border-radius: 10px;
}

.sub-menu-link {
    margin-left: 20px;
    transition: background-color 0.3s, color 0.3s;
    opacity: 1;
}

.sub-menu-link:hover,
.sub-menu-link:active {
    background-color: #BC3FF6;
    color: #25dccd;
    border-radius: 10px;
}

#menu a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 10px;
}

.content {
    margin-left: 200px;
    padding: 20px;
    background: url('Picture@1x.png') no-repeat;
    background-position: bottom left;
    background-size: 100% 100%;
    min-height: 100vh;
    color: white;
    opacity: 1;
    transition: opacity 0.5s;
}

.menu-link.clicked {
    color: #25dccd;
    background-color: #BC3FF6;
    border-radius: 10px;
}

#id_eng {
    position: absolute;
    top: 825px;
    left: 53px;
    width: 25px;
    height: 19px;
}

#id_span {
    position: absolute;
    top: 825px;
    left: 123px;
    width: 25px;
    height: 19px;
}

.cuadrado1 {
    width: 125px;
    height: 35px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -315px;
    margin-left: -265px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadrado1 p {
    margin: 0;
    color: #3377d5;
    font-weight: bold;
}

.cuadrado2 {
    width: 1125px;
    height: 690px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -275px;
    margin-left: -455px;
    border-radius: 10px;
}

#contenido.hide-content {
    opacity: 0;
    pointer-events: none;
}

.button-on-image1 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    cursor: pointer;


    top: 287px;
    left: 93px;
    width: 96px;
    height: 35px;
    bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #3AE6C7;

    text-align: center;
    line-height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

}
.button-on-image2 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    cursor: pointer;


    top: 287px;
    left: 530px;
    width: 96px;
    height: 35px;
    bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #3AE6C7;

    text-align: center;
    line-height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.button-on-image3 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    cursor: pointer;


    top: 287px;
    left: 970px;
    width: 96px;
    height: 35px;
    bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #3AE6C7;

    text-align: center;
    line-height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-on-image4 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    cursor: pointer;


    top: 287px;
    left: 310px;
    width: 96px;
    height: 35px;
    bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #3AE6C7;

    text-align: center;
    line-height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

}
.button-on-image5 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    cursor: pointer;


    top: 287px;
    left: 750px;
    width: 96px;
    height: 35px;
    bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #3AE6C7;

    text-align: center;
    line-height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.button-on-image6 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    cursor: pointer;

    top: 616px;
    left: 93px;
    width: 96px;
    height: 35px;
    bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #3AE6C7;

    text-align: center;
    line-height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.button-on-image7 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    cursor: pointer;


    top: 616px;
    left: 530px;
    width: 96px;
    height: 36px;
    bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #3AE6C7;

    text-align: center;
    line-height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.button-on-image8 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    cursor: pointer;


    top: 616px;
    left: 310px;
    width: 96px;
    height: 35px;
    bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #25dccd;
    align-items: start;
    text-align: center;
    line-height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.fotos {
    top: 20px;
    position: absolute;
    border: 2px solid #3377d5;
    width: 180px;
    height: 310px;
    border-radius: 10px;
}
#fotos1 {

    left: 35px;
}
#fotos2 {

    left: 250px;
}
#fotos3 {

    left: 470px;
}
#fotos4 {

    left: 690px;
}
#fotos5 {

    left: 910px;
}
#fotos6 {
    top: 350px;
    left: 35px;
}
#fotos7 {
    top: 350px;
    left: 250px;
}
#fotos8 {
    top: 350px;
    left: 470px;
}
.fotoGrupo {

}
.fotoGrupo {
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 5px;
}








