body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 200px;
    height: 100vh;
    color: #ffffff;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #3377d5;
    transition: background-color 0.3s, color 0.3s;
}

#menu-header {
    margin-bottom: 10px;
    font-size: 2em;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin-top: 25px;
}

#menu a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 10px;
}

.content {
    margin-left: 200px;
    padding: 20px;
    background: url('Picture@1x.png') no-repeat;
    background-position: bottom left;
    background-size: 100% 100%;
    min-height: 100vh;
    color: white;
}

.menu-link {
    margin: 5px;
    cursor: pointer;
    background-color: #3377d5; /* Color de fondo predeterminado */
    border-radius: 5px;
    text-align: left;
}

.menu-link.clicked {
    color: #25dccd; /* Color del texto al hacer clic */
    background-color: #BC3FF6; /* Color de fondo al hacer clic */
    border-radius: 10px;
}

#id_eng {
    position: absolute;
    top: 825px;
    left: 53px;
    width: 25px;
    height: 19px;
}

#id_span {
    position: absolute;
    top: 825px;
    left: 123px;
    width: 25px;
    height: 19px;
}
/* Estilos para el cuadrado */
.cuadrado1 {
    width: 800px;
    height: 50px;
    background-color: #ffffff; /* Puedes cambiar el color según tus preferencias */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -410px;
    margin-left: -455px;
    border-radius: 10px;
}
.cuadrado2 {
    width: 1125px;
    height: 800px;
    background-color: #ffffff; /* Puedes cambiar el color según tus preferencias */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -455px;
    border-radius: 10px;
}
#id_AllForos1 {
    position: absolute;
    top: 30px;
    left: 60px;
    width: 1000px;
    height: 350px;
}
#id_AllForos2 {
    position: absolute;
    top: 405px;
    left: 60px;
    width: 1000px;
    height: 350px;
}

/* Estilos para content1 */
.button-on-image1 {
    position: absolute;
    bottom: 10px; /* Ajusta la posición vertical del botón */
    left: 50%; /* Ajusta la posición horizontal del botón */
    transform: translateX(-50%); /* Centra el botón horizontalmente */
    padding: 10px 20px; /* Ajusta el relleno del botón según sea necesario */
    background-color: #3498db; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none; /* Quita el borde del botón */
    cursor: pointer;

    /* Personaliza el tamaño y las coordenadas según sea necesario */
    top: 332px;
    left: 322px;
    width: 96px;
    height: 25px;
    bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #3AE6C7;

    text-align: center;
    line-height: 50%;

}
.button-on-image2 {
    position: absolute;
    bottom: 10px; /* Ajusta la posición vertical del botón */
    left: 50%; /* Ajusta la posición horizontal del botón */
    transform: translateX(-50%); /* Centra el botón horizontalmente */
    padding: 10px 20px; /* Ajusta el relleno del botón según sea necesario */
    background-color: #3498db; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none; /* Quita el borde del botón */
    cursor: pointer;

    /* Personaliza el tamaño y las coordenadas según sea necesario */
    top: 332px;
    left: 663px;
    width: 96px;
    height: 25px;
    bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #3AE6C7;

    text-align: center;
    line-height: 50%;

}
.button-on-image3 {
    position: absolute;
    bottom: 10px; /* Ajusta la posición vertical del botón */
    left: 50%; /* Ajusta la posición horizontal del botón */
    transform: translateX(-50%); /* Centra el botón horizontalmente */
    padding: 10px 20px; /* Ajusta el relleno del botón según sea necesario */
    background-color: #3498db; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none; /* Quita el borde del botón */
    cursor: pointer;

    /* Personaliza el tamaño y las coordenadas según sea necesario */
    top: 332px;
    left: 1006px;
    width: 96px;
    height: 25px;
    bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #3AE6C7;

    text-align: center;
    line-height: 50%;

}

/* Estilos para content1 */
.button-on-image4 {
    position: absolute;
    bottom: 10px; /* Ajusta la posición vertical del botón */
    left: 50%; /* Ajusta la posición horizontal del botón */
    transform: translateX(-50%); /* Centra el botón horizontalmente */
    padding: 10px 20px; /* Ajusta el relleno del botón según sea necesario */
    background-color: #3498db; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none; /* Quita el borde del botón */
    cursor: pointer;

    /* Personaliza el tamaño y las coordenadas según sea necesario */
    top: 727px;
    left: 322px;
    width: 96px;
    height: 25px;
    bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #3AE6C7;

    text-align: center;
    line-height: 50%;

}
.button-on-image5 {
    position: absolute;
    bottom: 10px; /* Ajusta la posición vertical del botón */
    left: 50%; /* Ajusta la posición horizontal del botón */
    transform: translateX(-50%); /* Centra el botón horizontalmente */
    padding: 10px 20px; /* Ajusta el relleno del botón según sea necesario */
    background-color: #3498db; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none; /* Quita el borde del botón */
    cursor: pointer;

    /* Personaliza el tamaño y las coordenadas según sea necesario */
    top: 727px;
    left: 663px;
    width: 96px;
    height: 25px;
    bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #3AE6C7;

    text-align: center;
    line-height: 50%;

}
.button-on-image6 {
    position: absolute;
    bottom: 10px; /* Ajusta la posición vertical del botón */
    left: 50%; /* Ajusta la posición horizontal del botón */
    transform: translateX(-50%); /* Centra el botón horizontalmente */
    padding: 10px 20px; /* Ajusta el relleno del botón según sea necesario */
    background-color: #3498db; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none; /* Quita el borde del botón */
    cursor: pointer;

    /* Personaliza el tamaño y las coordenadas según sea necesario */
    top: 727px;
    left: 1006px;
    width: 96px;
    height: 25px;
    bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #3AE6C7;

    text-align: center;
    line-height: 50%;

}







