body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 200px;
    height: 100vh;
    color: #ffffff;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #3377d5;
    transition: background-color 0.3s, color 0.3s;
}

#menu-header {
    margin-bottom: 30px;
    font-size: 2em;
    font-family: 'Arial', sans-serif;
    margin-top: 25px;
    text-align: center;
    margin-left: 60px;
}

.menu-link {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    background-color: #3377d5;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 19px;
    opacity: 1; /* Agregamos la propiedad de opacidad */
}

.menu-link:hover,
.menu-link:active {
    background-color: #BC3FF6;
    color: #25dccd;
    border-radius: 10px;
}
.menu-link.clicked {
    color: #25dccd;
    background-color: #BC3FF6;
    border-radius: 10px;
}

.subapartados {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.subapartados.visible {
    max-height: 1000px; /* Un valor suficientemente grande para acomodar el contenido */
    transition: max-height 0.5s ease-in-out;
}

.sub-menu-link {
    margin-left: 20px;
    transition: background-color 0.3s, color 0.3s;
    opacity: 1; /* Agregamos la propiedad de opacidad */
}

.sub-menu-link:hover,
.sub-menu-link:active {
    background-color: #BC3FF6;
    color: #25dccd;
    border-radius: 10px;
}

#menu a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 5px 10px;
}

.content {
    margin-left: 200px;
    padding: 20px;
    background: url('Picture@1x.png') no-repeat;
    background-position: bottom left;
    background-size: 100% 100%;
    min-height: 100vh;
    color: white;
    opacity: 1; /* Agregamos la propiedad de opacidad */
    transition: opacity 0.5s; /* Agregamos la transición para la opacidad */
}

#id_eng {
    position: absolute;
    top: 825px;
    left: 53px;
    width: 25px;
    height: 19px;
}

#id_span {
    position: absolute;
    top: 825px;
    left: 123px;
    width: 25px;
    height: 19px;
}
/* Tu CSS existente */

.subapartados {
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.sub-menu-link {
    margin-left: 20px;
    transition: background-color 0.3s, color 0.3s;
    opacity: 1;
}

.sub-menu-link:hover,
.sub-menu-link:active {
    background-color: #BC3FF6;
    color: #25dccd;
    border-radius: 10px;
}

.menu-link.clicked {
    color: #25dccd;
    background-color: #BC3FF6;
    border-radius: 10px;
}

.sub-menu-link.clicked {
    color: #25dccd;
    background-color: #BC3FF6;
    border-radius: 10px;
}


.cuadrado1 {
    width: 825px; /* Ancho del cuadrado1 */
    height: 750px; /* Altura del cuadrado1 */
    top: 0px; /* Ajusta la posición vertical en píxeles */
    left: 100px; /* Ajusta la posición horizontal en píxeles */
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 15px; /* Agrega bordes redondeados */
    overflow: hidden; /* Evita que los bordes redondeados se corten */
    background-color: #ffffff; /* Agrega un color de fondo si es necesario */
    margin-left: 30px;
    margin-top: 150px;
}

.cuadrado1 img {
    max-width: 100%; /* Ajustar la imagen al tamaño del contenedor */
    max-height: 100%;
    border-radius: 15px; /* Añade bordes redondeados a la imagen */
}

.cuadrado1 {
    position: relative; /* Establece el contexto de posición para los elementos hijos */
    width: 825px; /* Ancho del cuadrado1 */
    height: 750px; /* Altura del cuadrado1 */
    top: 0px; /* Ajusta la posición vertical en píxeles */
    left: 100px; /* Ajusta la posición horizontal en píxeles */
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 15px; /* Agrega bordes redondeados */
    overflow: hidden; /* Evita que los bordes redondeados se corten */
    background-color: #ffffff; /* Agrega un color de fondo si es necesario */
    margin-left: 30px;
    margin-top: 150px;
}

.cuadrado1 img {
    max-width: 100%; /* Ajustar la imagen al tamaño del contenedor */
    max-height: 100%;
    border-radius: 15px; /* Añade bordes redondeados a la imagen */
    position: absolute; /* Posiciona las imágenes de Perfil de forma absoluta dentro de .cuadrado1 */
}

.cuadrado1 img:nth-child(1) { top: 0; left: 0; } /* Perfil_1.png */
.cuadrado1 img:nth-child(2) { top: 0; right: 0; } /* Perfil_2.png, en la esquina superior derecha */
.cuadrado1 img:nth-child(3) { bottom: 0; left: 0; } /* Perfil_3.png, en la esquina inferior izquierda */
.cuadrado1 img:nth-child(4) { bottom: 0; right: 0; } /* Perfil_6.png, en la esquina inferior derecha */

